@using System.Security.Claims
@using HWASP.Data.Entities
@{
    Layout="_ServicesShopLayout";
    bool isAuthenticated=Context.User.Identity?.IsAuthenticated??false; 
     var Categories=ViewData["Categories"] as List<Category>;
}

<div class="row justify-content-start">
    @foreach (var category in Categories)
    {
        <div class="col ctg-img" >
            <a asp-action="Category" asp-route-id="@(category.Slug)">
            <img src="~/img/servicesImg/@(category.ImageUrl)" alt="Image"/>
            <p>@category.Name</p>
            </a>
        </div>
    }
</div>
@if (isAuthenticated)
{
    
    <div class="row justify-content-end">
        <div class="col col-5">
            <h2>Додавання нової групи послуг</h2>
            <form id="category-form" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="category-name"><i class="bi bi-person-fill"></i></span>
                             <input type="text" class="form-control" placeholder="Назва" 
                                     name="category-name" aria-label="Category-name" aria-describedby="category-name">
                        </div>
                    </div>
                <div class="col">
                     <div class="input-group mb-3">
                         <span class="input-group-text" id="category-slug"><i class="bi bi-person-fill"></i></span>
                         <input type="text" class="form-control" placeholder="Посилання"
                            name="category-slug" aria-label="Category-slug" aria-describedby="Category-slug">
                     </div>
                 </div>
                </div>

               <div class="row mb-3">
                     <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-info"></i></span>
                     <textarea class="form-control" name="category-description" 
                            placeholder="Опис категорії"></textarea>
                    </div>
                </div>
               <div class="row mb-3">
                 <div class="col col-8">
                        <div class="input-group mb-3">
                         <label class = "input-group-text" for="category-image"><i class="bi bi-card-image"></i></label>
                         <input type="file" class="form-control" name="category-image" id="category-image"/>
                         
                        </div>
                 </div>
                 <div class="col col-4">
                         <button type="submit" class="btn btn-primary">Додати</button>
                 </div>
                </div>
                
            </form>
        </div>
    </div>
   
   
}

