@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8"> Содержание</h1>
</div>

<h3><a asp-controller="Home" asp-action="Random">Random</a></h3>
<h3><a asp-controller="Home" asp-action="Registration">Регистрация</a></h3>
